@font-face {
    font-family: 'roboto_slabregular';
    src: url('../assets/fonts/RobotoSlab-Regular-webfont.eot');
    src: url('../assets/fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
    url('../assets/fonts/RobotoSlab-Regular-webfont.ttf') format('truetype'),
    url('../assets/fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    background: #faf8ef;
}
